<ngx-spinner
  color="white"
  type="ball-scale-ripple"
  [fullScreen]="true"
  size="medium"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div
  class="flex justify-center w-screen h-screen bg-slate-500 bg-cover"
  style="background-image: url('assets/img/sky-go.jpg')"
>
  <div class="flex justify-center h-full w-full md:w-2/4">
    <div
      class="h-fit my-auto rounded-md px-10 py-5 bg-gray-900 backdrop-blur-sm bg-opacity-30"
    >
      <div
        class="text-xl cursor-pointer flex flex-col justify-center items-center mt-5 md:mt-0"
      >
        <!-- <a
          class="flex justify-center text-xl font-semibold text-white"
          [routerLink]="['/']"
          aria-label="Brand"
          ><img
            class="h-20 drop-shadow-lg shadow-white"
            src="assets/img/WESS Logo White.png"
            alt=""
        /></a> -->

        <h1 class="text-3xl font-semibold font-outfit text-white">
          Welcome Back<span class="text-5xl text-teal-200">.</span>
        </h1>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div
          class="flex flex-col justify-center items-center mt-10 md:mt-4 space-y-2 md:space-y-1"
        >
          <div class="">
            <input
              type="text"
              formControlName="nik"
              placeholder="NIK"
              class="bg-gray-100 rounded-lg px-5 py-2 focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold font-outfit md:w-72 lg:w-[340px]"
            />
          </div>
          <div *ngIf="submitReq && f['nik'].errors" class="invalid-feedback">
            <div
              *ngIf="f['nik'].errors['required']"
              class="text-red-500 dark:text-red-500 text-sm text-start"
            >
              NIK is required
            </div>
          </div>
          <div class="h-4"></div>
          <div
            class="flex items-center border-2 pr-2 rounded-lg w-[86%] md:w-72 lg:w-[340px] bg-gray-100 focus:outline-none"
          >
            <input
              [type]="this.showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Password"
              class="bg-gray-100 rounded-lg px-5 py-2 focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold font-outfit w-full"
            />
            <button type="button" (click)="changeVisibilityPassword()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="w-6 h-6 mx-1 fill-[#04517481] hover:fill-[#00356b] text-gray-400 transition-colors duration-300 dark:text-gray-500 hover:text-gray-500 dark:hover:text-gray-400"
              >
                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                <path
                  fill-rule="evenodd"
                  d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <div
            *ngIf="submitReq && f['password'].errors"
            class="invalid-feedback"
          >
            <div
              *ngIf="f['password'].errors['required']"
              class="text-red-500 dark:text-red-500 text-sm text-start"
            >
              Password is required
            </div>
          </div>
        </div>
        <div class="text-center mt-7">
          <button
            type="submit"
            [ngClass]="submitted ? 'cursor-wait' : 'cursor-pointer'"
            class="uppercase px-24 md:px-[118px] lg:px-[140px] py-2 rounded-md text-white bg-indigo-500 hover:bg-indigo-600 font-medium font-outfit"
          >
          <span *ngIf="!submitted">login</span>
            
            <div
              *ngIf="submitted"
              class="inline-block h-6 w-6 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] text-neutral-100 motion-reduce:animate-[spin_1.5s_linear_infinite]"
              role="status"
            >
              <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                >Loading...</span
              >
            </div>
          </button>
        </div>
      </form>
      <div class="text-center my-3 flex flex-col">
        <a
          class="text-sm font-medium cursor-pointer text-gray-400 hover:text-violet-500 m-1"
          >Forgot Password ?</a
        >
      </div>
    </div>
  </div>
</div>
