<div class="w-full">
  <div class="bg-slate-50">
    <div class="text-center">
      <h1 class="text-2xl font-medium">Rekap Penjualan Limbah Eks Produksi</h1>
      <h1 class="text-xl font-medium">
        CV {{ paramSales.vendor }} Tahun {{ dateNow.getFullYear() }}
      </h1>
    </div>
    <div class="px-10">
      <!-- <h1 class="text-base font-semibold">PELAKSANAAN</h1> -->
      <br />
      <div class="flex">
        <h1 class="text-base w-1/4">HARI</h1>
        <h1 class="text-base">
          :
          {{
            toDefaultDate(paramSales.date).toLocaleString("id-ID", {
              weekday: "long"
            })
          }}
        </h1>
      </div>
      <div class="flex">
        <h1 class="text-base w-1/4">TANGGAL</h1>
        <h1 class="text-base">: {{ paramSales.date }}</h1>
      </div>
    </div>

    <div class="py-5">
      <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-1.5 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table
                class="min-w-full border text-center text-sm font-light dark:border-neutral-500"
              >
                <thead
                  class="border border-black font-medium dark:border-neutral-500"
                >
                  <tr>
                    <th
                      scope="col"
                      class="border-r px-6 py-4 border-neutral-500"
                    >
                      No
                    </th>
                    <th
                      scope="col"
                      class="border-r px-6 py-4 border-neutral-500"
                    >
                      Nama Barang
                    </th>
                    <th
                      scope="col"
                      class="border-r px-6 py-4 border-neutral-500"
                    >
                      Jumlah
                    </th>
                    <th
                      scope="col"
                      class="border-r px-6 py-4 border-neutral-500"
                    >
                      Satuan
                    </th>
                    <th
                      scope="col"
                      class="border-r px-6 py-4 border-neutral-500"
                    >
                      Harga (Rp)
                    </th>
                    <th scope="col" class="px-6 py-4">Jumlah (Rp)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of SalesToArrayByDate();
                      index as i
                    "
                    class="border border-black dark:border-neutral-500"
                  >
                    <td
                      class="whitespace-nowrap border-r px-6 py-1.5 font-medium border-neutral-500"
                    >
                      {{ i + 1 }}
                    </td>
                    <td
                      class="whitespace-nowrap border-r font-medium px-6 py-1.5 border-neutral-500"
                    >
                      {{ item.name }}
                    </td>
                    <td
                      class="whitespace-nowrap border-r px-6 py-1.5 border-neutral-500"
                    >
                      {{ item.qty }}
                    </td>
                    <td
                      class="whitespace-nowrap border-r px-6 py-1.5 border-neutral-500"
                    >
                      {{ item.satuan }}
                    </td>
                    <td
                      class="whitespace-nowrap border-r px-6 py-1.5 border-neutral-500"
                    >
                      {{ item.price.toLocaleString("en-US") }}
                    </td>
                    <td class="whitespace-nowrap px-6 py-1.5">
                      {{ (item.price * item.qty).toLocaleString("en-US") }}
                    </td>
                  </tr>
                  <tr class="border border-black">
                    <td
                      colspan="5"
                      class="whitespace-nowrap border-black px-6 py-2 font-medium"
                    >
                      DDP
                    </td>
                    <td
                      class="whitespace-nowrap border border-black font-medium px-6 py-2"
                    >
                      <!-- {{
                        (
                          (filterSalesByDate(paramSales.date).total / 111) *
                          100
                        ).toLocaleString("en-US", { maximumFractionDigits: 0 })
                      }} -->
                    </td>
                  </tr>

                  <tr class="border border-black">
                    <td
                      colspan="5"
                      class="whitespace-nowrap border-black px-6 py-2 font-medium"
                    >
                      PPN
                    </td>
                    <td
                      class="whitespace-nowrap border border-black font-medium px-6 py-2"
                    >
                      <!-- {{
                        (
                          filterSalesByDate(paramSales.date).total -
                          (filterSalesByDate(paramSales.date).total / 111) * 100
                        ).toLocaleString("en-US", { maximumFractionDigits: 0 })
                      }} -->
                    </td>
                  </tr>

                  <tr class="border border-black">
                    <td
                      colspan="5"
                      class="whitespace-nowrap border-black px-6 py-2 font-medium"
                    >
                      Total
                    </td>
                    <td
                      class="whitespace-nowrap border border-black font-medium px-6 py-2"
                    >
                      {{
                        paramSales.total_price.toLocaleString(
                          "en-US"
                        )
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex flex-row">
      <div class="w-1/3 text-center">
        <h1>Penjual</h1>
        <br /><br /><br />
        <h1 class="underline underline-offset-4">Putri Cahyani</h1>
        <h1 class="">GA Dept</h1>
      </div>
      <div class="w-1/3 text-center">
        <h1>Diperiksa</h1>
        <br /><br /><br />
        <h1 class="underline underline-offset-4">Yuliana Astike</h1>
        <h1 class="">Fin/Acc</h1>
      </div>
      <div class="w-1/3 text-center">
        <h1>Pembeli</h1>
        <br /><br /><br /><br />
        <h1 class="underline"></h1>
        <h1 class="">
          {{
            paramSales.vendor.includes("DESA")
              ? "DESA"
              : "CV." + paramSales.vendor
          }}
        </h1>
      </div>
    </div>
    <div class="px-10 pt-5">
      <h1>
        Pembayaran di transfer ke rekening : <br />
        2913002091 BCA an PT.Amerta Indah Otsuka <br />
        Mohon agar bukti transfer di email ke pcahyarina@aio.co.id /
        ngani@aio.co.id <br />atau WA ke 081283344668 <br />
        Note: Harga satuan sudah include PPN
      </h1>
    </div>
  </div>
</div>
