<div class="w-full bg-gray-50 pt-4 lg:pt-16 px-4 sm:px-6 md:px-8 lg:pl-72">
  <div class="w-full flex flex-col md:flex-row space-x-2.5 max-md:space-y-4">
    <div class="w-full md:w-2/5 flex-col space-y-2.5">
      <div class="gap-y-2 px-5 py-3 bg-white shadow-md rounded-lg">
        <h1 class="text-blue-600">Actual Aug 2023</h1>
        <h1 class="text-3xl text-blue-600 font-semibold">
          IDR
          {{
            (this.monthIdr2023[7] / 1000000).toFixed(2) +
              " " +
              this.sumTotalActual().unit
          }}
        </h1>
        <h1>Actual YTD Aug 2023 {{ sumTotalActualYTD() }}</h1>
      </div>
      <div
        class="flex flex-col space-y-4 px-5 py-3 bg-white shadow-md rounded-lg"
      >
        <div>
          <h1 class="font-medium text-center">SALES by CATEGORY MTD 2023</h1>
        </div>
        <apx-chart
          [series]="chartSalesCategoryYTD.series"
          [chart]="chartSalesCategoryYTD.chart"
          [dataLabels]="chartSalesCategoryYTD.dataLabels"
          [plotOptions]="chartSalesCategoryYTD.plotOptions"
          [xaxis]="chartSalesCategoryYTD.xaxis"
          [yaxis]="chartSalesCategoryYTD.yaxis"
          [stroke]="chartSalesCategoryYTD.stroke"
        ></apx-chart>
      </div>
    </div>
    <div class="w-full md:w-3/5 flex flex-wrap space-y-2.5">
      <div
        class="w-full h-1/2 flex flex-wrap space-x-2.5 max-[560px]:space-y-4"
      >
        <div
          class="gap-y-2 py-2 px-2 bg-white shadow-md rounded-lg w-full min-[560px]:w-[70%]"
        >
          <div class="py-1.5">
            <h1 class="font-medium text-center">
              BIG 5 SALES YTD CONTRIBUTION
            </h1>
          </div>
          <div class="flex justify-center">
            <apx-chart
              class="lg:w-3/4"
              [series]="chartBigFiveSales.series"
              [chart]="chartBigFiveSales.chart"
              [plotOptions]="chartBigFiveSales.plotOptions"
              [labels]="chartBigFiveSales.labels"
              [legend]="chartBigFiveSales.legend"
              [responsive]="chartBigFiveSales.responsive"
            ></apx-chart>
          </div>
        </div>
        <!-- <div
          class="gap-y-2 px-5 py-3 bg-white shadow-md rounded-lg w-full min-[560px]:w-[28%] md:w-[27%] max-[560px]:px-10"
        >
          <div>
            <h1 class="font-medium text-sm text-center">
              ACT VS LOST <br />
              <span class="text-blue-600">YTD 2023</span>
            </h1>
          </div>
          
          <apx-chart
            [series]="chartSalesPerformance.series2"
            [chart]="chartSalesPerformance.chart2"
            [xaxis]="chartSalesPerformance.xaxis2"
            [yaxis]="chartSalesPerformance.yaxis2"
            [colors]="chartSalesPerformance.colors2"
            [plotOptions]="chartSalesPerformance.plotOptions2"
            [legend]="chartSalesPerformance.legend2"
            [fill]="chartSalesPerformance.fill"
            [responsive]="chartSalesPerformance.responsive2"
          ></apx-chart>
          
        </div> -->
      </div>
      <div
        class="px-5 py-3 flex flex-wrap bg-white shadow-md rounded-lg w-full"
      >
        <div class="w-full py-1.5">
          <h1 class="font-medium text-center">SALES PERFORMANCE</h1>
        </div>
        <div class="w-full">
          <apx-chart
            [series]="chartSalesPerformance.series"
            [chart]="chartSalesPerformance.chart"
            [stroke]="chartSalesPerformance.stroke"
            [dataLabels]="chartSalesPerformance.dataLabels"
            [plotOptions]="chartSalesPerformance.plotOptions"
            [xaxis]="chartSalesPerformance.xaxis"
            [colors]="chartSalesPerformance.colorsPurple"
            [fill]="chartSalesPerformance.fill"
            [yaxis]="chartSalesPerformance.yaxis"
            [legend]="chartSalesPerformance.legend"
          ></apx-chart>
        </div>
        <div class="w-full min-[560px]:w-2/5"></div>
        <div class="w-full min-[560px]:w-3/5 -mt-5 flex px-9">
          <h1 class="text-sm text-center text-orange-500  rounded-md">
            <span class="font-semibold"
              >{{
                (
                  (this.sumTotalYTD(monthIdr2023) /
                    this.sumTotalYTD(monthIdr2022)) *
                  100
                ).toFixed(1)
              }}% </span
            ><br />
            Ach from YTD This Year vs Last Year
          </h1>
          <!-- <apx-chart
            
            [annotations]="chartSalesPerformance.annotations"
            [series]="chartSalesPerformance.seriesYTD"
            [chart]="chartSalesPerformance.chart"
            [stroke]="chartSalesPerformance.stroke"
            [dataLabels]="chartSalesPerformance.dataLabels"
            [plotOptions]="chartSalesPerformance.plotOptions"
            [xaxis]="chartSalesPerformance.xaxisYTD"
            [colors]="chartSalesPerformance.colorsOrange"
            [fill]="chartSalesPerformance.fill"
            [yaxis]="chartSalesPerformance.yaxis"
            [legend]="chartSalesPerformance.legend"
          ></apx-chart> -->
        </div>
      </div>
    </div>
  </div>
</div>
