<div class="w-screen h-screen flex justify-center items-center">
    <div class="w-[25vw] h-[25vw] bg-gradient-to-r from-[#10957a] to-[#0a3c1f] rounded-full">
        <div class="w-full h-full bg-white bg-opacity-40 grid grid-flow-row gap-2 content-center">
            <h1 class="text-5xl font-semibold text-center bg-clip-text text-transparent bg-gradient-to-r from-[#10957a] to-[#0a3c1f]">
                見つかりません!</h1>
            <a [routerLink]="['/']" class="mx-auto w-fit p-2 rounded-sm font-medium  text-white bg-gradient-to-r from-[#10957a] to-[#0a3c1f] hover:bg- transition-all"> Back Home</a>
        </div>
    </div>
</div>
